.sign {
  max-width: 800px;
  max-height: 40px;
  overflow-y: hidden;

  /*Transition time is increased to accomodate the height */
  transition: max-height 0.7s linear;
}

.expanded {
  max-height: 500px;

  transition: max-height 0.7s linear;
}
